@{
    ViewData["Title"] = "AGTIV ASP.Net Assessment";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is my product from learning how to build Web App with ASP.NET Core MVC.</a>.
    </p>
</div>
